#
# APPLICATION
#
APP_NAME=mall-server-api
APP_SCHEMA=http
APP_HOST=localhost
APP_PORT=3000
APP_ROUTE_PREFIX=/api
APP_BANNER=true

#
# JWT + Otp
#
SECRET_JWT=mall
JWT_EXPIRES_IN=180
JWT_EXPIRES_IN_ADMIN=7
OTP_EXPIRES_IN=900000

#
# LOGGING
#
LOG_LEVEL=debug
LOG_OUTPUT=dev

#
# MAILER
#
USER_EMAIL=thaikhacmanh1998@gmail.com
PASSWORD_EMAIL=manhprox30


#
# PostgreSQL DATABASE
#
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=123456789
TYPEORM_DATABASE=mall-test
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=error
TYPEORM_LOGGER=advanced-console

#
# MySQL DATABASE
#
# TYPEORM_CONNECTION=mysql
# TYPEORM_HOST=localhost
# TYPEORM_PORT=3306
# TYPEORM_USERNAME=root
# TYPEORM_PASSWORD=root
# TYPEORM_DATABASE=my_database
# TYPEORM_SYNCHRONIZE=false
# TYPEORM_LOGGING=error
# TYPEORM_LOGGER=advanced-console

#
# PATH STRUCTRUE
#
TYPEORM_MIGRATIONS=src/database/migrations/*.ts
TYPEORM_MIGRATIONS_DIR=src/database/migrations
TYPEORM_ENTITIES=src/api/models/*.ts
TYPEORM_ENTITIES_DIR=src/api/models
CONTROLLERS=src/api/controllers/*controller.ts
MIDDLEWARES=src/api/middlewares/*middleware.ts
INTERCEPTORS=src/api/interceptors/*interceptor.ts
SUBSCRIBERS=src/api/subscribers/*subscriber.ts
RESOLVERS=src/api/resolvers/*resolver.ts

#
# GraphQL
#
GRAPHQL_ENABLED=true
GRAPHQL_ROUTE=/graphql
GRAPHQL_EDITOR=true

#
# Swagger
#
SWAGGER_ENABLED=true
SWAGGER_ROUTE=/swagger
SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=1234

#
# Status Monitor
#
MONITOR_ENABLED=true
MONITOR_ROUTE=/monitor
MONITOR_USERNAME=admin
MONITOR_PASSWORD=1234
